*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height:100vh;
  width:100vw;
  background: linear-gradient(180deg, #f4faf8 0%, #eaf8f3 100%);
  color: #111111;
}